



<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>

      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<div id="test">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?51d8a7dce4ac9d82927953d8204cd74e";
      var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
	})();
	</script>
</div>

 <div id="vcomments"></div>
     <script>
             new Valine({
	                 el: '#vcomments',
			             appId: '5IF3KsGhvxewsPjDu2s2kGSm-gzGzoHsz',
				                 appKey: 'FBdsvUPKDbR1Am1RVkvvBfC0'
						         })			
							     </script>

</br>